body{
  background-color: #7c6fb7;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 7em;
  min-height: 100vh;
}
.container {
  background-color: #a15ae448;
  height: 65px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__logo img{
  width: 80px;
}
.container__li{
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
}
li{
  list-style: none;
}
/*Inicio Footer*/
.footer {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer__social {
  margin: 0;
  padding: 10px;
}
.footer__copy {
  margin: 0;
  color: #ffffff;
}
/*Fin de Footer*/

/*Inicio de Home*/
.home__tittle{
  padding: 10px 15px;
  font-style: italic;
  font-size: 2.2rem;
  text-align: center;
}
.home__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__img{
  margin: 10px 10px 0;
  width: 280px;
  align-items: center;
  box-shadow: 8px 2px 8px;
}
.home__text__bio{
  padding: 10px;
  width: 280px;
  overflow: auto;
  height: 350px;
  text-align: center;
  font-size: 1em;
}
.home__text__bio-bordes {
  text-shadow: 3px 2px 3px #ffffff;
  color: #000000;
}
/*Fin de Home*/

/* inicio de Música */
.carta{
  padding: 10px 15px;
}
.carta__h1 {
  padding: 10px 15px;
  text-align: center;
  font-style: italic;
  font-size: 2.2rem;
}
.carta__h3 {
  padding: 0 0 25px 0px;
  margin: auto;
  text-align: center;
  font-size: 1.3em;
  text-shadow: 3px 2px 3px #ffffff;
  color: #000000;
}
.carta__img {
  width: 300px;
  display: block;
  margin: auto;
  box-shadow: 8px 2px 8px;
}
.carta__button {
  border: 1px solid;
  padding: 8px 0px;
  margin: 25px 0 0 10px;
  background-color: #a032e956;
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
  display: block;
  text-align: center;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}
.carta__text {
  padding: 10px 15px;
  width: 280px;
  margin: auto;
  text-align: center;
  font-size: 1em;
}
.carta2{
  padding: 10px 15px;
}
.carta2__h1 {
  padding: 10px 15px;
  text-align: center;
  font-style: italic;
  font-size: 2.2rem;
}
.carta2__h3 {
  padding: 0 0 25px 0;
  margin: auto;
  text-align: center;
  font-size: 1.3em;
  text-shadow: 3px 2px 3px #ffffff;
  color: #000000;
}
.carta2__img {
  width: 300px;
  display: block;
  margin: auto;
  box-shadow: 8px 2px 8px;
}
.carta3{
  padding: 10px 15px;
}
.carta3__h3 {
  padding: 0 0 25px 0;
  text-align: center;
  margin: 25px 0 1px;
  font-size: 1.3em;
  text-shadow: 3px 2px 3px #ffffff;
  color: #000000;
}
.carta3__img {
  width: 300px;
  display: block;
  margin: auto;
  box-shadow: 8px 2px 8px;
}
/* Fin de Música */

/* Incio Tour */
.tour__img {
  padding: 10px;
  display: block;
  margin: auto;
}
.tour__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  margin: auto;
  padding: 10px;
}
.tour__fechas {
  padding: 10px;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline;
  text-align: center;
  font-size: 2.2em;
  font-style: italic;
}
.tour__li {
  padding: 10px;
  width: 200px;
}
/* Fin de Tour */

/* Inicio de Galería */
.photos__h1 {
  padding: 10px 15px;
  font-size: 2.2rem;
  font-style: italic;
  text-align: center;
}
.photos{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px;
}
.photos__one {
  width: 280px;
  box-shadow: 0px 8px 8px 0px;
  margin: 15px 10px;

}
.video__h1 {
  padding: 10px 15px;
  font-size: 2.2rem;
  font-style: italic;
  text-align: center;
}
.video{
  padding: 10px 15px;
}
.video__h3 {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0;
}
.video__one {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 10px;
  width: 320px;
}
/* Fin de Galería */

/* Inicio de Contacto */
.h1 {
  padding: 10px 15px;
  font-size: 1.3rem;
  font-style: italic;
  text-align: center;
}
.flex-conteiner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background: #333;
  margin: 50px 50px;
  padding: 10px 15px;

}
.form {
  min-width: 280px;
  height: 358px;
  flex: 1;
  text-align: center;
  padding: 10px 15px;
  order: 5;
}
.form__input {
  width: 60%;
  padding: 7px;
  margin: 6px 0;
  border: none;
  border-bottom: 3px solid rgb(133, 80, 202);
  background: transparent;
  color: rgb(212, 209, 209);
}
.form-input:focus {
  background: linear-gradient(to bottom, transparent, #111);
  outline: none;
  border-bottom: 3px solid rgba(255, 85, 241, 0.548);
}
.form textarea {
  min-height: 120px;
  resize: none;
}
.form input[type="submit"] {
  background-color: rgba(151, 63, 185, 0.575);
  border-bottom: none;
  padding: 12px;
}
/* Fin de Contacto*/

@media (min-width: 992px) {
  body {
    background-color: #7c6fb7;
    margin: 0;
    padding: 0;
    padding-bottom: 90px;
  }
  /* Inicio de Encabezado */
  a {
    text-decoration: none;
    color: #000000;
  }
  ul,
  li {
    list-style: none;
    float: left;
  }
  header {
    height: 65px;
    background-color: #a15ae448;
    padding: 10px;
    display: grid;
    grid-template-columns: 200px auto;
    justify-content: space-around;
    align-items: center;
  }
  .logo img {
    height: 74px;
  }
  nav a {
    font-weight: 600;
    padding-right: 25px;
    font-size: 20px;
    transition: .3s;
  }
  nav a:hover {
    color: #db5be0d5;
  }
  /* Fin de Encabezado */

  /* Inicio de Footer */
  .footer {
    display: grid;
    grid-template-areas: "social copy";
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .footer__social {
    grid-area: social;
    background-color: #000000;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3em;
  }
  .footer__copy {
    grid-area: copy;
    color: #ffffff;
    padding: 10px;
    display: inline;
  }
  /* Fin de Footer */

  /* Inicio de Home */
  .home {
    display: grid;
    grid-template-areas:
      "tittle"
      "img bio";
    grid-template-rows: 150px 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 50px 40px;
    height: 72vh;
  }
  .home__tittle {
    font-style: italic;
    font-size: 3rem;
    text-align: center;
  }
  .home__container {
    display: grid;
    grid-template-columns: 340px 500px;
    gap: 20px;
    justify-content: center;
  }
  .home__img {
    margin: auto;
    align-items: center;
    width: 300px;
    box-shadow: 8px 2px 8px;
  }
  .home__text__bio {
    padding: 10px 10px;
    width: 450px;
    text-align: center;
    overflow: auto;
    height: 350px;
    margin: auto;
    font-size: 1.1em;
    box-shadow: -2px 2px 4px;
  }
  .home__text__bio-bordes {
    text-shadow: 3px 2px 3px #ffffff;
    color: #000000;
  }
  /* Fin de Home */

  /* Inicio de Música */
  .carta__h1 {
    padding: 10px;
    text-align: center;
    font-style: italic;
    font-size: 3em;
  }
  .carta__h3 {
    padding: 0 0 25px 0px;
    margin: auto;
    text-align: center;
    font-size: 1.3em;
    text-shadow: 3px 2px 3px #ffffff;
    color: #000000;
  }
  .carta__img {
    width: 320px;
    display: block;
    margin: auto;
    box-shadow: 8px 2px 8px;
  }
  .carta__button {
    border: 1px solid;
    padding: 8px 0px;
    margin: 25px 0 0 10px;
    background-color: #a032e956;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    display: block;
    text-align: center;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  .carta__button:hover {
    background: #db5be0d5;
  }
  .carta__text {
    padding: 10px;
    margin: 10px;
    width: 600px;
    margin: auto;
    text-align: center;
    font-size: 1.2em;
  }
  .carta2__h1 {
    padding: 10px;
    text-align: center;
    font-style: italic;
    font-size: 3rem;
  }
  .carta2__h3 {
    padding: 10px;
    margin: auto;
    text-align: center;
    font-size: 1.3em;
    text-shadow: 3px 2px 3px #ffffff;
    color: #000000;
  }
  .carta2__img {
    width: 320;
    display: block;
    margin: auto;
    box-shadow: 8px 2px 8px;
  }
  .carta3__h3 {
    padding: 10px;
    margin: auto;
    text-align: center;
    margin-top: 15px;
    font-size: 1.3em;
    text-shadow: 3px 2px 3px #ffffff;
    color: #000000;
  }
  .carta3__img {
    width: 320px;
    display: block;
    margin: auto;
    box-shadow: 8px 2px 8px;
  }
  /* Fin de Música */

  /* Inicio de Tour */
  .tour__img {
    padding: 10px;
    display: block;
    margin: auto;
  }
  .tour__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    margin: auto;
    padding: 10px;
  }
  .tour__fechas {
    padding: 10px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline;
    text-align: center;
    font-size: 2.2em;
    font-style: italic;
  }
  .tour__li {
    padding: 10px;
    width: 200px;
  }
  /* Fin de Tour */

  /* Inicio de Galería */
  .photos__h1 {
    font-style: italic;
    font-size: 3rem;
    padding: 10px;
    text-align: center;
  }
  .photos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
  }
  .photos__one {
    box-shadow: 0px 8px 8px 0px;
    margin: auto
  }
  .video__h1 {
    font-style: italic;
    font-size: 3rem;
    padding: 10px;
    text-align: center;
  }
  .video{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(512px, 1fr));
    gap: 20px;
    padding: 10px;
  }
  .video__h3 {
    display: flex;
    justify-content: center;
    padding: 15px 0 0 15px;
    margin: 0;
    font-size: 1.3em;
  }
  .video__one {
    display: flex;
    margin: auto;
    padding: 10px;
    width: 512px;
  }
  /* Fin de Galería */

  /* Inicio de Contacto */
  .h1 {
    text-align: center;
    padding: 10px;
    font-size: 1.4rem;
    font-style: italic;
  }
  .flex-conteiner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: #333;
    margin: 50px 50px;
    padding: 20px;
  }
  .form {
    min-width: 400px;
    flex: 1;
    text-align: center;
    padding: 30px;
    order: 5;
  }
  .form__input {
    width: 40%;
    padding: 7px;
    margin: 6px 0;
    border: none;
    border-bottom: 3px solid rgb(133, 80, 202);
    background: transparent;
    color: rgb(212, 209, 209);
  }
  .form-input:focus {
    background: linear-gradient(to bottom, transparent, #111);
    outline: none;
    border-bottom: 3px solid rgba(255, 85, 241, 0.548);
  }
  .form textarea {
    min-height: 120px;
    resize: none;
  }
  .form input[type="submit"] {
    background-color: rgba(151, 63, 185, 0.575);
    border-bottom: none;
    padding: 12px;
  }
  .form input[type="submit"]:hover {
    background-color: rgba(150, 63, 185, 0.877);
    border-bottom: none;
    padding: 12px;
  }
  /* Fin de Contacto*/
}